@use '../../styles/mixins';
@use '../../styles/placeholders';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--color-06) inset !important;
  -webkit-text-fill-color: var(--color-regular-text) !important;
  transition: background-color 5000s ease-in-out 0s;
}


.edit{
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 2;
    
    @include mixins.sizes(100%, auto);
    background-color: var(--color-02);
    padding: 10px 5px;
    

    &-fields{
        @include mixins.flex-prop(space-evenly, center, null, 5px);
        flex-wrap: wrap;
        max-height: 500px;

        &-element{
            @include mixins.flex-prop(center, center, column, 5px);
            @include mixins.sizes(100%, auto, 210px);

            label{
                @extend %p-xs-02;
                font-weight: 400;
            }

            input{
                width: 100%;
                @extend %p-xs-02;
                background-color: var(--color-24);
                padding: 4px 3px;
                border-radius: 7px;
                font-weight: 500;
                border: 2px solid var(--color-07);
                text-align: center;
            }
        }

        &-area{
            @include mixins.sizes(95%, auto);
            @include mixins.flex-prop(center, center, column, 4px);            

            label{
                @extend %p-xs-02;
                font-weight: 400;
            }

            textArea{
                width: 100%;     
                min-height: 75px;           
                @extend %p-xs-02;
                background-color: var(--color-24);
                border-radius: 7px;
                padding: 4px 4px;
                font-weight: 400;
                border: 2px solid var(--color-07);
                text-align: center
            }
        }
    }

    &-buttons{
        @include mixins.flex-prop(center, center, null, 8px);
        padding: 15px 0px;

        button{
            background-color: var(--color-04);
            border-radius: 5px;
            border: none;
            @extend %p-xs-01;
            cursor: pointer;
            padding: 5px;
        }
    }

    p{
        @extend %p-xs-03;
        color: var(--color-13);
        font-weight: 500;
        text-align: center;
    }

    @include mixins.respond-to(md){
        
        top: 11%;
        min-width: 320px;
    }

    @include mixins.respond-to(sm){
        width: 100%;
        top: 11%;
        min-width: unset;

        &-fields{
            flex-direction: column;
            flex-wrap: nowrap;
            max-height: unset;
        }
    }
}