@use '../styles/mixins';
@use '../styles//placeholders';


.profile{
    @extend %main-container;
    justify-content: start;

    .isLoading{
        position: absolute;
        top: 0;
        left: 0;
        @include mixins.sizes(100%, 100vh);
        @include mixins.flex-prop(center, center, column);
        min-width: 600px;
        background-color: var(--color-black);
        z-index: 10;

        p{
            @extend %h-lg-04;
        }
    }


    &-me{
        @include mixins.flex-prop(center, center, column, 45px);
        @include mixins.sizes(100%, auto);
        padding: 60px 0px;

        &-info{
             @include mixins.flex-prop(space-evenly, center, null);
             background-color: var(--color-25);
             border-radius: 12px;
             width: 100%;
             max-width: 570px;
             padding: 12px 5px;
             position: relative;
             box-shadow: 0 0 30px var(--color-15);

                .bi-pencil{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    color: white;
                    font-size: 1.2em;
                    cursor: pointer;
                }

            &-img{                
                position: relative;
                @include mixins.sizes(180px, 180px);

                .bi-camera{
                    position: absolute;
                    bottom: 0;
                    right: -10px;
                    color: white;
                    font-size: 2.1em;
                    cursor: pointer;
                }

                img{
                    border-radius: 50%;
                    @extend %fit-cover;
                }
            }


            &-data{  
                @include mixins.flex-prop(null, start, column, 3px);
                width: 40%;
             
                h2{
                    @extend %h-md-03;   
                    color: white;
                    font-weight: 500                                     
                }

                p{
                    @extend %p-xs-03;
                    color: white;
                }

                &-buttons{
                    @include mixins.flex-prop(null, start, null, 3px);
            
                    a{
                        text-decoration: none;
                        font-size: 1.5em;
                        
                        .bi-geo-alt-fill{
                            color: var(--color-23);
                        }

                        .bi-whatsapp{
                            color: var(--color-22);
                        }
                    }
                }
            }
            
        }

        &-description{
            @include mixins.sizes(100%, auto, 1250px);
            h3{
                @extend %h-lg-01;
            }     
            
            p{
                @extend %p-sm;
            }
        }
    

        &-gallery{
            h3{
                @extend %h-lg-01;
            }

            @include mixins.sizes(100%, auto, 1250px);
            border-radius: 12px;
        }



    }

    @include mixins.respond-to(md){
        overflow-x: hidden;

        &-me{

            &-info{
                flex-direction: column;   
                gap: 15px;


                &-img{
                    width: 165px;
                    height: 165px;

                    .bi-camera{
                        right: -10px;
                        top: 80%;
                    }
                }

                &-data{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;

                    h2, p{
                        text-align: center;
                    }

                }
            }

            &-description{

                h3{
                    font-size: 1.4em;
                }

                p{
                    font-size: .8em;
                }
            }

            &-gallery{
                h3{
                    font-size: 1.4em;
                }
            }

        }

    }
}